.container {
  width: 1000px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* border: 8px solid darkred; */
  background-color: burlywood;
}
.paragraphs {
  align-self: flex-start;
  justify-self: flex-start;
  flex: 0 0 255px;
}
.unOLlist {
  align-self: flex-end;
  justify-self: flex-end;
  flex: 0 0 255px;
}
.img {
  width: 250px;
  height: 120px;
}